<<<<<<< HEAD
<form action="/posts" method="post">
=======
<form action="/create" method="post">
>>>>>>> 6b03cc0be1642eb27e99aa4ffae3c1dbedead525
  <label name = 'name'> Name: </label> <input type='text' name = 'name'>
  <label name = 'name'> Content: </label> <input type='text' name = 'content'>
  <input type="submit" value="submit">
</form>
